<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block style %}{% endblock %}
</head>
<body>
    <!-- preloader -->
    <div class="bg-preloader-white"></div>
    <div class="preloader-white">
      <div class="mainpreloader">
        <span></span>
      </div>
    </div>
    <!-- preloader end -->

   <!-- content wraper -->
   <div class="content-wrapper">

   <header class="init">

    <!-- subnav -->
    <div class="container-fluid m-5-hor">
    <div class="row">
        <div class="subnav">

         <div class="col-md-6">
          <div class="left">
            <div class="social-icons-subnav hidden-sm hidden-xs">
                <div>Call Us : +02151 7778 009</div>
            </div>
          </div>
         </div>

         <div class="col-md-6">
          <div class="right">
            <div id="sub-icon" class="social-icons-subnav">
                <a href="#"><span class="ti-facebook"></span></a>
                <a href="#"><span class="ti-dribbble"></span></a>
                <a href="#"><span class="ti-twitter"></span></a>
                <a href="#"><span class="ti-instagram"></span></a>
                <a href="#"><span class="ti-linkedin"></span></a>
            </div>
            <div class="social-icons-subnav">
              <a data-toggle="modal" data-target="#fLogin"><span class="ti-lock"></span> Login</a>
            </div>
            <div class="social-icons-subnav hidden-sm hidden-xs">
              <a data-toggle="modal" data-target="#fsignUp"><span class="ti-user"></span> Sign up</a>
            </div>
          </div>
         </div>

        </div>
    </div>
    </div>
    <!-- subnav end -->

      <!-- nav -->
      <div class="navbar-default-white navbar-fixed-top">
        <div class="container-fluid m-5-hor">
        <div class="row">

           <!-- menu mobile display -->
           <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse">
           <span class="icon icon-bar"></span>
           <span class="icon icon-bar"></span>
           <span class="icon icon-bar"></span></button>

          <!-- logo -->
          <a class="navbar-brand white" href="index">
          <img class="white" alt="logo" src="static/img/logo.png">
          <img class="black" alt="logo" src="static/img/logo-white.png">
          </a>
          <!-- logo end -->

          <!-- mainmenu start -->
          <div class="white menu-init" id="main-menu">
            <nav id="menu-center">
              <ul>
                <li>
                 <a class="actived" href="/index">Главная</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/works">Gallery </a></li>
                <li><a  href="destination">Destination </a>
                </li>
                <li><a href="ecommerce">Services </a>
                </li>
                <li><a  href="blog">Blog </a>
                </li>
                <li><a  href="contact">Contact</a></li>
              </ul>
            </nav>
          </div>
          <!-- mainmenu end -->

        </div>
        </div>
        <!-- container -->
      </div>
      <!-- nav end -->
      </header>
{% block body %}

{% endblock %}
    </body>
</html>